1) Write a program to merge two dictionaries into one. If there are overlapping keys, sum their values.

2) Write a Python program to create an empty dictionary.

3) Write a Python script to iterate over a dictionary and print all key-value pairs.

4) Write a Python program to remove the key-value pair with key 'age' from  dictionary

5) Write a program to sort a dictionary by its keys in ascending order and print the sorted dictionary.

6) Given a dictionary students_scores = {'Alice': 85, 'Bob': 90}, update the score for 'Alice' to 95. If 'Charlie' does not exist in the dictionary, add 'Charlie' with a default score of 60.

7) Write a Python program to print all the values in  dictionary:

8) Given a dictionary item_prices = {'apple': 1.00, 'banana': 0.50}, calculate the total price of all items. Then, apply a 10% discount to all items and update the dictionary.

In [ ]:
#task 1
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict

dict1 = {'apple': 1, 'banana': 2, 'orange':5, 'avocado':1}
dict2 = {'apple': 3, 'carrrot': 4, 'avocado':8}
merged_dict = merge_dicts(dict1, dict2)
print(merged_dict)

{'apple': 4, 'banana': 2, 'orange': 5, 'avocado': 9, 'carrrot': 4}

In [ ]:
#task 2
dict()
empty_dict = {}
print(empty_dict)

{}

In [ ]:
#task 3
rashad={'Name': 'Rashad', 'Age': 29, 'Weight':70, 'Height':170}
for key, value in rashad.items():
    print(key, value)

Name Rashad
Age 29
Weight 70
Height 170

In [ ]:
#task 4
del rashad['Age']
print(rashad)

{'Name': 'Rashad', 'Weight': 70, 'Height': 170}

In [ ]:
#task 5
dict_sorted={}
for key in sorted(dict1.keys()):
  dict_sorted.update({key:dict1[key]})
print(dict_sorted)

{'apple': 1, 'avocado': 1, 'banana': 2, 'orange': 5}

In [ ]:
#task 6
students_scores = {'Alice': 85, 'Bob': 90}
students_scores['Alice'] = 95
print(students_scores)
students_scores.setdefault('Charlie','60')
print(students_scores)

{'Alice': 95, 'Bob': 90}
{'Alice': 95, 'Bob': 90, 'Charlie': '60'}

In [ ]:
#task 7
for value in rashad.values():
  print(value)

Rashad
70
170

In [ ]:
#task 8
item_prices = {'apple': 1.00, 'banana': 0.50}
total_price = sum(item_prices.values())
for key, value in item_prices.items():
    item_prices[key] = value * 0.9
print(item_prices)

{'apple': 0.9, 'banana': 0.45}