<a href="https://colab.research.google.com/github/Deimos95/Python-Fundamentals/blob/main/Rashad_Mammadli_Function_HomeTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Write a function is_even(n) that returns True if the number is even, otherwise False.

2) Write a function is_prime(n) that checks if a number is prime. (*A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. In other words, a prime number is only divisible by 1 and itself without leaving a remainder. Examples of prime numbers include 2, 3, 5, 7, 11, 13, 17, and so on.*)

3) Write a  Python function to multiply all the numbers in a list.


```
Sample List : (8, 2, 3, -1, 7)
Expected Output : -336
```

4) Write a Python function that accepts a string and counts the number of upper and lower case letters.

```
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12
```

5) Write a  Python function to create and print a list where the values are the squares of numbers between 1 and 30 (both included).

6) Write a function to check if a given number is an Armstrong number or not.

7) Write a function that calculates the sum of digits of a given number.

8) Write a function that finds the number of divisors of a given number.

9) Write a function called fuel_cost that takes a distance as a required argument, km (default 50 km) and fuel cost (default $1 a litre) as optional arguments. The function should return the cost in dollars.

10) Write a function called hcf (ÆBOB) that takes 2 integer values and returns the highest common factor of the numbers.

In [ ]:
#task 1
def is_even(n):
  if n % 2 == 0:
    return True
  else:
    return False
print(is_even(1))

False

In [ ]:
#task 2
def is_prime(n):
  for i in range(2,n):
    if n%i==0:
      return False
  return True
print(is_prime(11))

True

In [ ]:
#task 3
def multiply(list):
  c=1
  for i in list:
    c=c*i
  return c
print(multiply([8,2,3,-1,7]))

-336

In [ ]:
#task 4
def count_case(string):
  upper=0
  lower=0
  for c in string:
    if c in "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPRSTUVWXYZ":
      if c==c.upper():
        upper+=1
      elif c==c.lower():
        lower+=1
  print(f"No. of Upper case characters : {upper}")
  print(f"No. of Lower case characters : {lower}")

count_case('The quick Brow Fox')

No. of Upper case characters : 3
No. of Lower case characters : 12

In [ ]:
#task 5
def squares():
  list=[]
  for i in range(1,31):
    list.append(i**2)
  return list
print(squares())

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
#task 6
def armstrong(n):
  n=str(n)
  sum=0
  for i in n:
    sum+=int(i)**len(n)
  if sum==int(n):
    return True
  else:
    return False
print(armstrong(153))

True

In [ ]:
#task 7
def sum_of_digits(n):
  c=0
  while n>=1:
    c=c+n%10
    n=n//10
  return c+n
print(sum_of_digits(12903))

15

In [1]:
#task 8
def divisors(n):
  count=0
  for i in range(1,n+1):
    if n%i==0:
      count+=1
  return count
print(divisors(12))

6

In [15]:
#task 9
def fuel_cost(km=50,fuel_cost=1):
  return km*fuel_cost

In [14]:
#task 10
def hcf(a,b):
  factors=[]
  if a>b:
    for i in range(2,b+1):
      if a%i==0 and b%i==0:
        factors.append(i)
  elif a<b:
    for i in range(2,a+1):
      if a%i==0 and b%i==0:
        factors.append(i)
  factors.sort()
  return factors[0]

print(hcf(17,34))

17